# Used Vehicles `SQLite` Database

In [1]:
import os
import random
import warnings
import pandas as pd
import numpy as np
import sqlite3
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Set seed 
seed_value = 42
os.environ['UsedCars_DB'] = str(seed_value)
random.seed(seed_value)
np.random.seed(seed_value)

%cd /mnt/UsedCars_Prices/Data

# Read train set
train = pd.read_parquet('usedCars_trainSet.parquet.gzip')
train = train.drop_duplicates()

# Read test set
test = pd.read_parquet('usedCars_testSet.parquet.gzip')
test = test.drop_duplicates()

/mnt/UsedCars_Prices/Data

## Create `SQLite` Database, Examine the Schema and Dimensions

In [2]:
def create_sqlite_database(filename):
    
    ''' Create a SQLite database, connect, create tables, load data, examine schema/rows, close database connection '''
    conn = None
    try:
        conn = sqlite3.connect(filename)
        # Print if a successful connection
        print('Connected to SQLite database')
        cur = conn.cursor()
        # Load train set to database
        cur.execute('''DROP TABLE IF EXISTS TRAIN_SET''')
        train.to_sql('TRAIN_SET', conn, if_exists='replace')
        # Load test set to database        
        cur.execute('''DROP TABLE IF EXISTS TEST_SET''')
        test.to_sql('TEST_SET', conn, if_exists='replace')
        conn.commit()
        print('SQLite Version:', sqlite3.sqlite_version)
    except sqlite3.Error as error:
        print('Failed to add tables', error)
    try:        
        # List the table in the database
        # Getting all tables from sqlite_master
        sql_query = '''SELECT name FROM sqlite_master 
        WHERE type='table';'''
        cur.execute(sql_query)
        print('\nDatabase Tables:')
        print(cur.fetchall())    
    except sqlite3.Error as error:
        print('Failed to execute the above query', error)
        # Examine the schema of the train set 
    try:
        print('\nTrain Set: Schema')
        for row in cur.execute('PRAGMA table_info("TRAIN_SET")').fetchall():
            print(row)
        cur.execute('SELECT * FROM TRAIN_SET') 
        print('\nNumber of Rows: ', len(cur.fetchall()))
        # Examine the schema of the test set         
        print('\nTest Set: Schema')
        for row in cur.execute('PRAGMA table_info("TEST_SET")').fetchall():
            print(row)
        cur.execute('SELECT * FROM TEST_SET') 
        print('\nNumber of Rows: ', len(cur.fetchall()))
    except sqlite3.Error as error:
        print('Failed to execute the above query', error)
    finally:
        if conn:
            conn.close()
            print('\nThe database connection is closed')

if __name__ == '__main__':
    create_sqlite_database('usedcars.db')

Connected to SQLite database
SQLite Version: 3.45.3

Database Tables:
[('TRAIN_SET',), ('TEST_SET',)]

Train Set: Schema
(0, 'index', 'INTEGER', 0, None, 0)
(1, 'price', 'REAL', 0, None, 0)
(2, 'back_legroom', 'REAL', 0, None, 0)
(3, 'body_type', 'TEXT', 0, None, 0)
(4, 'city_fuel_economy', 'REAL', 0, None, 0)
(5, 'daysonmarket', 'REAL', 0, None, 0)
(6, 'engine_displacement', 'REAL', 0, None, 0)
(7, 'front_legroom', 'REAL', 0, None, 0)
(8, 'fuel_tank_volume', 'REAL', 0, None, 0)
(9, 'fuel_type', 'TEXT', 0, None, 0)
(10, 'height', 'REAL', 0, None, 0)
(11, 'highway_fuel_economy', 'REAL', 0, None, 0)
(12, 'is_new', 'INTEGER', 0, None, 0)
(13, 'length', 'REAL', 0, None, 0)
(14, 'listing_color', 'TEXT', 0, None, 0)
(15, 'maximum_seating', 'REAL', 0, None, 0)
(16, 'mileage', 'REAL', 0, None, 0)
(17, 'savings_amount', 'REAL', 0, None, 0)
(18, 'transmission', 'TEXT', 0, None, 0)
(19, 'wheel_system_display', 'TEXT', 0, None, 0)
(20, 'wheelbase', 'REAL', 0, None, 0)
(21, 'width', 'REAL', 0, None, 0)
(22, 'year', 'REAL', 0, None, 0)
(23, 'State', 'TEXT', 0, None, 0)
(24, 'torque', 'REAL', 0, None, 0)
(25, 'torque_rpm', 'REAL', 0, None, 0)
(26, 'horsepower', 'REAL', 0, None, 0)
(27, 'horsepower_rpm', 'REAL', 0, None, 0)
(28, 'listed_date_yearMonth', 'TEXT', 0, None, 0)

Number of Rows:  260684

Test Set: Schema
(0, 'index', 'INTEGER', 0, None, 0)
(1, 'price', 'REAL', 0, None, 0)
(2, 'back_legroom', 'REAL', 0, None, 0)
(3, 'body_type', 'TEXT', 0, None, 0)
(4, 'city_fuel_economy', 'REAL', 0, None, 0)
(5, 'daysonmarket', 'REAL', 0, None, 0)
(6, 'engine_displacement', 'REAL', 0, None, 0)
(7, 'front_legroom', 'REAL', 0, None, 0)
(8, 'fuel_tank_volume', 'REAL', 0, None, 0)
(9, 'fuel_type', 'TEXT', 0, None, 0)
(10, 'height', 'REAL', 0, None, 0)
(11, 'highway_fuel_economy', 'REAL', 0, None, 0)
(12, 'is_new', 'INTEGER', 0, None, 0)
(13, 'length', 'REAL', 0, None, 0)
(14, 'listing_color', 'TEXT', 0, None, 0)
(15, 'maximum_seating', 'REAL', 0, None, 0)
(16, 'mileage', 'REAL', 0, None, 0)
(17, 'savings_amount', 'REAL', 0, None, 0)
(18, 'transmission', 'TEXT', 0, None, 0)
(19, 'wheel_system_display', 'TEXT', 0, None, 0)
(20, 'wheelbase', 'REAL', 0, None, 0)
(21, 'width', 'REAL', 0, None, 0)
(22, 'year', 'REAL', 0, None, 0)
(23, 'State', 'TEXT', 0, None, 0)
(24, 'torque', 'REAL', 0, None, 0)
(25, 'torque_rpm', 'REAL', 0, None, 0)
(26, 'horsepower', 'REAL', 0, None, 0)
(27, 'horsepower_rpm', 'REAL', 0, None, 0)
(28, 'listed_date_yearMonth', 'TEXT', 0, None, 0)

Number of Rows:  65447

The database connection is closed

## Exploratory Data Analysis

- Price vs State
- Number per State
- Price per month per state
- Price by Color
- Price by State with Listing Color
- Days on market by State with Listing Color

- Number of vehicles listed per State

In [3]:
# Train set
try:
    conn = sqlite3.connect('usedcars.db')
    cur = conn.cursor()
    sql_query = '''SELECT *, ROUND(100 * freq / SUM(freq) OVER (), 2) AS percentage 
        FROM (
          SELECT State, COUNT(*) AS freq 
          FROM TRAIN_SET 
          GROUP BY State
          ORDER BY freq DESC);'''
    cur.execute(sql_query)
    records = cur.fetchall()
    print('\nTrain Set: Listings Per State')
    headers = [i[0] for i in cur.description]
    print(headers)
    for row in records:
        print(row)
except sqlite3.Error as error:
        print('Failed to execute the above query', error)

# Test set
try:
    conn = sqlite3.connect('usedcars.db')
    cur = conn.cursor()
    sql_query = '''SELECT *, ROUND(100 * freq / SUM(freq) OVER (), 2)  AS percentage  
        FROM (
          SELECT State, COUNT(*) AS freq 
          FROM TEST_SET 
          GROUP BY State
          ORDER BY freq DESC);'''
    cur.execute(sql_query)
    records = cur.fetchall()
    print('\nTest Set: Listings Per State')
    headers = [i[0] for i in cur.description]
    print(headers)
    for row in records:
        print(row)
except sqlite3.Error as error:
        print('Failed to execute the above query', error)
finally:
        if conn:
            conn.close()

Train Set: Listings Per State
['State', 'freq', 'percentage']
('TX', 63624, 24.0)
('CA', 48172, 18.0)
('FL', 47384, 18.0)
('OH', 28897, 11.0)
('IL', 26676, 10.0)
('NY', 23072, 8.0)
('PA', 22859, 8.0)

Test Set: Listings Per State
['State', 'freq', 'percentage']
('TX', 16381, 25.0)
('CA', 11962, 18.0)
('FL', 11691, 17.0)
('OH', 7136, 10.0)
('IL', 6695, 10.0)
('NY', 5816, 8.0)
('PA', 5766, 8.0)

- Price of Vehicle Listings Per State

In [4]:
# Train set
try:
    conn = sqlite3.connect('usedcars.db')
    cur = conn.cursor()
    cur.execute('''SELECT State, COUNT(price) as total_count, MIN(price) AS price_min, ROUND(MAX(price), 2) AS price_max,
        SUM(price) AS price_sum, ROUND(AVG(price), 2) AS price_avg, ROUND(SQRT(AVG(price*price) - AVG(price)*AVG(price)), 2) AS price_stdev, 
        ROUND(AVG(price*price) - AVG(price)*AVG(price), 2) AS price_variance FROM TRAIN_SET GROUP BY State''')
    records = cur.fetchall()
    print('\nTrain Set: Price of Vehicle Listings Per State')
    headers = [i[0] for i in cur.description]
    print(headers)
    for row in records:
        print(row)
except sqlite3.Error as error:
        print('Failed to execute the above query', error)

# Test set
try:
    conn = sqlite3.connect('usedcars.db')
    cur = conn.cursor()
    cur.execute('''SELECT State, COUNT(price) as total_count, MIN(price) AS price_min, ROUND(MAX(price), 2) AS price_max,
        SUM(price) AS price_sum, ROUND(AVG(price), 2) AS price_avg, ROUND(SQRT(AVG(price*price) - AVG(price)*AVG(price)), 2) AS price_stdev, 
        ROUND(AVG(price*price) - AVG(price)*AVG(price), 2) AS price_variance FROM TEST_SET GROUP BY State''')
    records = cur.fetchall()
    print('\nTest Set: Price of Vehicle Listings Per State')
    headers = [i[0] for i in cur.description]
    print(headers)
    for row in records:
        print(row)
except sqlite3.Error as error:
        print('Failed to execute the above query', error)
finally:
        if conn:
            conn.close()

Train Set: Price of Vehicle Listings Per State
['State', 'total_count', 'price_min', 'price_max', 'price_sum', 'price_avg', 'price_stdev', 'price_variance']
('CA', 48172, 6822.0, 50000.0, 1351719453.0, 28060.27, 9416.14, 88663749.56)
('FL', 47384, 5990.0, 50000.0, 1314913025.05, 27750.15, 9734.28, 94756131.28)
('IL', 26676, 7494.0, 50000.0, 747764364.0, 28031.35, 9433.35, 88988036.9)
('NY', 23072, 6994.0, 50000.0, 655787306.55, 28423.51, 9260.06, 85748784.17)
('OH', 28897, 6750.0, 50000.0, 813947512.25, 28167.2, 9613.86, 92426236.43)
('PA', 22859, 6944.0, 50000.0, 645930478.0, 28257.16, 9092.16, 82667393.99)
('TX', 63624, 5999.0, 50000.0, 1846028136.55, 29014.65, 9852.24, 97066625.21)

Test Set: Price of Vehicle Listings Per State
['State', 'total_count', 'price_min', 'price_max', 'price_sum', 'price_avg', 'price_stdev', 'price_variance']
('CA', 11962, 7371.0, 49999.0, 338262903.0, 28278.12, 9482.56, 89918941.73)
('FL', 11691, 4490.0, 50000.0, 323216639.1, 27646.62, 9737.43, 94817497.66)
('IL', 6695, 8462.0, 49999.0, 187488455.0, 28004.25, 9350.16, 87425554.63)
('NY', 5816, 9500.0, 49999.0, 165478339.44, 28452.26, 9190.75, 84469892.47)
('OH', 7136, 7900.0, 50000.0, 199524459.25, 27960.27, 9549.7, 91196852.59)
('PA', 5766, 7988.0, 49998.0, 163494698.0, 28354.96, 9026.21, 81472409.87)
('TX', 16381, 6205.0, 50000.0, 474941576.0, 28993.44, 9852.08, 97063479.75)

- Total Price of Vehicle Listings Per Month Per State

In [5]:
# Train set
try:
    conn = sqlite3.connect('usedcars.db')
    cur = conn.cursor()
    cur.execute('''SELECT State, listed_date_yearMonth, SUM(price) AS price_sum FROM TRAIN_SET GROUP BY listed_date_yearMonth, State''')
    records = cur.fetchall()
    print('\nTrain Set: Total Price of Vehicle Listings Per Month Per State')
    headers = [i[0] for i in cur.description]
    print(headers)
    for row in records:
        print(row)
except sqlite3.Error as error:
        print('Failed to execute the above query', error)

# Test set
try:
    conn = sqlite3.connect('usedcars.db')
    cur = conn.cursor()
    cur.execute('''SELECT State, listed_date_yearMonth, SUM(price) AS price_sum FROM TEST_SET GROUP BY listed_date_yearMonth, State''')
    records = cur.fetchall()
    print('\nTest Set: Total Price of Vehicle Listings Per Month Per State')
    headers = [i[0] for i in cur.description]
    print(headers)
    for row in records:
        print(row)
except sqlite3.Error as error:
        print('Failed to execute the above query', error)
finally:
        if conn:
            conn.close()

Train Set: Total Price of Vehicle Listings Per Month Per State
['State', 'listed_date_yearMonth', 'price_sum']
('CA', '2020-06', 118223072.0)
('FL', '2020-06', 108257979.75)
('IL', '2020-06', 86774411.0)
('NY', '2020-06', 55515085.0)
('OH', '2020-06', 72826675.5)
('PA', '2020-06', 58408660.0)
('TX', '2020-06', 185119095.8)
('CA', '2020-07', 301343697.0)
('FL', '2020-07', 305385015.35)
('IL', '2020-07', 193912692.0)
('NY', '2020-07', 149498355.0)
('OH', '2020-07', 190261974.25)
('PA', '2020-07', 150863788.0)
('TX', '2020-07', 432315248.75)
('CA', '2020-08', 596773404.0)
('FL', '2020-08', 626994487.95)
('IL', '2020-08', 343259631.0)
('NY', '2020-08', 326598957.55)
('OH', '2020-08', 395579213.0)
('PA', '2020-08', 314868051.0)
('TX', '2020-08', 840570198.0)
('CA', '2020-09', 335379280.0)
('FL', '2020-09', 274275542.0)
('IL', '2020-09', 123817630.0)
('NY', '2020-09', 124174909.0)
('OH', '2020-09', 155279649.5)
('PA', '2020-09', 121789979.0)
('TX', '2020-09', 388023594.0)

Test Set: Total Price of Vehicle Listings Per Month Per State
['State', 'listed_date_yearMonth', 'price_sum']
('CA', '2020-06', 29387916.0)
('FL', '2020-06', 26594719.85)
('IL', '2020-06', 21902065.0)
('NY', '2020-06', 14495120.0)
('OH', '2020-06', 17656434.0)
('PA', '2020-06', 15742508.0)
('TX', '2020-06', 46958369.0)
('CA', '2020-07', 76879195.0)
('FL', '2020-07', 75782643.2)
('IL', '2020-07', 48470156.0)
('NY', '2020-07', 37881605.0)
('OH', '2020-07', 46781762.0)
('PA', '2020-07', 36962819.0)
('TX', '2020-07', 109697723.0)
('CA', '2020-08', 147369192.0)
('FL', '2020-08', 151947123.05)
('IL', '2020-08', 86359200.0)
('NY', '2020-08', 81564195.44)
('OH', '2020-08', 96835364.25)
('PA', '2020-08', 80490787.0)
('TX', '2020-08', 219090093.0)
('CA', '2020-09', 84626600.0)
('FL', '2020-09', 68892153.0)
('IL', '2020-09', 30757034.0)
('NY', '2020-09', 31537419.0)
('OH', '2020-09', 38250899.0)
('PA', '2020-09', 30298584.0)
('TX', '2020-09', 99195391.0)

- Number of Vehicle Listings Per Month Per State

In [6]:
# Train set
try:
    conn = sqlite3.connect('usedcars.db')
    cur = conn.cursor()
    cur.execute('''SELECT State, listed_date_yearMonth, COUNT(*) AS state_count FROM TRAIN_SET GROUP BY listed_date_yearMonth, State''')
    records = cur.fetchall()
    print('\nTrain Set: Number of Vehicle Listings Per Month Per State')
    headers = [i[0] for i in cur.description]
    print(headers)
    for row in records:
        print(row)
except sqlite3.Error as error:
        print('Failed to execute the above query', error)

# Test set
try:
    conn = sqlite3.connect('usedcars.db')
    cur = conn.cursor()
    cur.execute('''SELECT State, listed_date_yearMonth, COUNT(*) AS state_count FROM TEST_SET GROUP BY listed_date_yearMonth, State''')
    records = cur.fetchall()
    print('\nTest Set: Number of Vehicle Listings Per Month Per State')
    headers = [i[0] for i in cur.description]
    print(headers)
    for row in records:
        print(row)
except sqlite3.Error as error:
        print('Failed to execute the above query', error)
finally:
        if conn:
            conn.close()

Train Set: Number of Vehicle Listings Per Month Per State
['State', 'listed_date_yearMonth', 'state_count']
('CA', '2020-06', 4370)
('FL', '2020-06', 3919)
('IL', '2020-06', 3164)
('NY', '2020-06', 1961)
('OH', '2020-06', 2617)
('PA', '2020-06', 2045)
('TX', '2020-06', 6542)
('CA', '2020-07', 10754)
('FL', '2020-07', 10920)
('IL', '2020-07', 6958)
('NY', '2020-07', 5382)
('OH', '2020-07', 6768)
('PA', '2020-07', 5391)
('TX', '2020-07', 14741)
('CA', '2020-08', 21300)
('FL', '2020-08', 22682)
('IL', '2020-08', 12215)
('NY', '2020-08', 11484)
('OH', '2020-08', 14009)
('PA', '2020-08', 11122)
('TX', '2020-08', 28922)
('CA', '2020-09', 11748)
('FL', '2020-09', 9863)
('IL', '2020-09', 4339)
('NY', '2020-09', 4245)
('OH', '2020-09', 5503)
('PA', '2020-09', 4301)
('TX', '2020-09', 13419)

Test Set: Number of Vehicle Listings Per Month Per State
['State', 'listed_date_yearMonth', 'state_count']
('CA', '2020-06', 1078)
('FL', '2020-06', 970)
('IL', '2020-06', 789)
('NY', '2020-06', 520)
('OH', '2020-06', 643)
('PA', '2020-06', 545)
('TX', '2020-06', 1662)
('CA', '2020-07', 2713)
('FL', '2020-07', 2751)
('IL', '2020-07', 1749)
('NY', '2020-07', 1371)
('OH', '2020-07', 1671)
('PA', '2020-07', 1325)
('TX', '2020-07', 3779)
('CA', '2020-08', 5240)
('FL', '2020-08', 5460)
('IL', '2020-08', 3079)
('NY', '2020-08', 2858)
('OH', '2020-08', 3466)
('PA', '2020-08', 2858)
('TX', '2020-08', 7503)
('CA', '2020-09', 2931)
('FL', '2020-09', 2510)
('IL', '2020-09', 1078)
('NY', '2020-09', 1067)
('OH', '2020-09', 1356)
('PA', '2020-09', 1038)
('TX', '2020-09', 3437)

- Price of Different Colored Vehicles

In [7]:
# Train set
try:
    conn = sqlite3.connect('usedcars.db')
    cur = conn.cursor()
    cur.execute('''SELECT listing_color, COUNT(price) as total_count, MIN(price) AS price_min, ROUND(MAX(price), 2) AS price_max,
        SUM(price) AS price_sum, ROUND(AVG(price), 2) AS price_avg, ROUND(SQRT(AVG(price*price) - AVG(price)*AVG(price)), 2) AS price_stdev, 
        ROUND(AVG(price*price) - AVG(price)*AVG(price), 2) AS price_variance FROM TRAIN_SET GROUP BY listing_color''')
    records = cur.fetchall()
    print('\nTrain Set: Price of Different Colored Vehicles')
    headers = [i[0] for i in cur.description]
    print(headers)
    for row in records:
        print(row)
except sqlite3.Error as error:
        print('Failed to execute the above query', error)

# Test set
try:
    conn = sqlite3.connect('usedcars.db')
    cur = conn.cursor()
    cur.execute('''SELECT listing_color, COUNT(price) as total_count, MIN(price) AS price_min, ROUND(MAX(price), 2) AS price_max,
        SUM(price) AS price_sum, ROUND(AVG(price), 2) AS price_avg, ROUND(SQRT(AVG(price*price) - AVG(price)*AVG(price)), 2) AS price_stdev, 
        ROUND(AVG(price*price) - AVG(price)*AVG(price), 2) AS price_variance FROM TEST_SET GROUP BY listing_color''')
    records = cur.fetchall()
    print('\nTest Set: Price of Different Colored Vehicles')
    headers = [i[0] for i in cur.description]
    print(headers)
    for row in records:
        print(row)
except sqlite3.Error as error:
        print('Failed to execute the above query', error)
finally:
        if conn:
            conn.close()

Train Set: Price of Different Colored Vehicles
['listing_color', 'total_count', 'price_min', 'price_max', 'price_sum', 'price_avg', 'price_stdev', 'price_variance']
('BLACK', 61692, 5990.0, 50000.0, 1787424256.45, 28973.36, 9789.19, 95828313.44)
('BLUE', 27130, 6000.0, 50000.0, 743166760.59, 27392.8, 9241.28, 85401209.54)
('GRAY', 44885, 6458.0, 50000.0, 1245802625.75, 27755.43, 9349.74, 87417658.19)
('RED', 24563, 6000.0, 50000.0, 694765797.75, 28285.05, 9597.0, 92102504.75)
('SILVER', 40119, 6490.0, 50000.0, 1093785101.4, 27263.52, 9397.21, 88307505.04)
('WHITE', 62295, 5999.0, 50000.0, 1811145733.46, 29073.69, 9649.4, 93111005.4)

Test Set: Price of Different Colored Vehicles
['listing_color', 'total_count', 'price_min', 'price_max', 'price_sum', 'price_avg', 'price_stdev', 'price_variance']
('BLACK', 15423, 6205.0, 50000.0, 449246522.25, 29128.35, 9752.16, 95104559.57)
('BLUE', 6889, 6649.0, 50000.0, 188656069.0, 27385.12, 9337.86, 87195600.18)
('GRAY', 11146, 7371.0, 50000.0, 310254613.35, 27835.51, 9407.12, 88493974.03)
('RED', 6124, 8250.0, 49999.0, 172087786.0, 28100.55, 9459.95, 89490595.96)
('SILVER', 10068, 6734.0, 50000.0, 272690229.25, 27084.85, 9356.3, 87540298.95)
('WHITE', 15797, 4490.0, 50000.0, 459471849.94, 29086.02, 9609.83, 92348794.5)

- Price of Different Colored Vehicles Per State

In [8]:
# Train set
try:
    conn = sqlite3.connect('usedcars.db')
    cur = conn.cursor()
    cur.execute('''SELECT State, listing_color, COUNT(price) as total_count, MIN(price) AS price_min, ROUND(MAX(price), 2) AS price_max,
        SUM(price) AS price_sum, ROUND(AVG(price), 2) AS price_avg, ROUND(SQRT(AVG(price*price) - AVG(price)*AVG(price)), 2) AS price_stdev, 
        ROUND(AVG(price*price) - AVG(price)*AVG(price), 2) AS price_variance FROM TRAIN_SET GROUP BY State, listing_color''')
    records = cur.fetchall()
    print('\nTrain Set: Price of Different Colored Vehicles Per State')
    headers = [i[0] for i in cur.description]
    print(headers)
    for row in records:
        print(row)
except sqlite3.Error as error:
        print('Failed to execute the above query', error)

# Test set
try:
    conn = sqlite3.connect('usedcars.db')
    cur = conn.cursor()
    cur.execute('''SELECT State, listing_color, COUNT(price) as total_count, MIN(price) AS price_min, ROUND(MAX(price), 2) AS price_max,
        SUM(price) AS price_sum, ROUND(AVG(price), 2) AS price_avg, ROUND(SQRT(AVG(price*price) - AVG(price)*AVG(price)), 2) AS price_stdev, 
        ROUND(AVG(price*price) - AVG(price)*AVG(price), 2) AS price_variance FROM TEST_SET GROUP BY State, listing_color''')
    records = cur.fetchall()
    print('\nTest Set: Price of Different Colored Vehicles Per State')
    headers = [i[0] for i in cur.description]
    print(headers)
    for row in records:
        print(row)
except sqlite3.Error as error:
        print('Failed to execute the above query', error)
finally:
        if conn:
            conn.close()

Train Set: Price of Different Colored Vehicles Per State
['State', 'listing_color', 'total_count', 'price_min', 'price_max', 'price_sum', 'price_avg', 'price_stdev', 'price_variance']
('CA', 'BLACK', 10537, 8488.0, 50000.0, 302696145.0, 28726.98, 9759.56, 95249029.99)
('CA', 'BLUE', 4121, 6822.0, 49999.0, 111456317.0, 27045.94, 9002.33, 81041986.15)
('CA', 'GRAY', 10082, 7975.0, 50000.0, 277811536.0, 27555.2, 9025.25, 81455117.31)
('CA', 'RED', 3022, 7920.0, 49999.0, 81743189.0, 27049.37, 9017.39, 81313257.74)
('CA', 'SILVER', 7700, 7592.0, 49999.0, 206470878.0, 26814.4, 9052.57, 81949002.1)
('CA', 'WHITE', 12710, 7619.0, 50000.0, 371541388.0, 29232.21, 9682.36, 93748114.2)
('FL', 'BLACK', 10264, 5990.0, 50000.0, 292483492.15, 28496.05, 10063.31, 101270293.6)
('FL', 'BLUE', 4984, 6992.0, 50000.0, 134115796.0, 26909.27, 9456.21, 89419934.83)
('FL', 'GRAY', 7991, 6458.0, 49998.0, 220438644.0, 27585.86, 9615.73, 92462193.01)
('FL', 'RED', 4727, 6000.0, 49999.0, 129283105.25, 27349.93, 9534.75, 90911533.52)
('FL', 'SILVER', 7402, 6490.0, 49999.0, 198630480.15, 26834.7, 9636.23, 92856995.82)
('FL', 'WHITE', 12016, 6900.0, 50000.0, 339961507.5, 28292.4, 9692.95, 93953205.82)
('IL', 'BLACK', 6978, 7494.0, 49999.0, 201141307.0, 28825.07, 9632.77, 92790268.03)
('IL', 'BLUE', 2820, 8250.0, 49991.0, 76302403.0, 27057.59, 8921.51, 79593369.26)
('IL', 'GRAY', 4395, 7495.0, 49995.0, 119942133.0, 27290.59, 9408.19, 88513980.59)
('IL', 'RED', 2781, 8315.0, 50000.0, 79286398.0, 28510.03, 9470.27, 89686085.5)
('IL', 'SILVER', 3936, 7775.0, 50000.0, 106271437.0, 26999.86, 9206.65, 84762313.32)
('IL', 'WHITE', 5766, 8896.0, 50000.0, 164820686.0, 28584.93, 9439.43, 89102845.46)
('NY', 'BLACK', 6151, 8495.0, 50000.0, 178987979.0, 29099.0, 9460.09, 89493391.67)
('NY', 'BLUE', 2725, 9777.0, 49998.0, 74991138.59, 27519.68, 8842.56, 78190930.72)
('NY', 'GRAY', 3976, 6994.0, 49997.0, 111563545.0, 28059.24, 9054.93, 81991838.28)
('NY', 'RED', 1981, 8887.0, 49999.0, 55410892.0, 27971.17, 9435.51, 89028834.23)
('NY', 'SILVER', 3224, 9000.0, 49995.0, 88145821.0, 27340.52, 8752.42, 76604801.13)
('NY', 'WHITE', 5015, 8870.0, 50000.0, 146687930.96, 29249.84, 9497.24, 90197597.79)
('OH', 'BLACK', 7414, 7574.0, 50000.0, 216061665.5, 29142.39, 9703.77, 94163072.35)
('OH', 'BLUE', 3353, 8000.0, 50000.0, 91133752.0, 27179.76, 9444.15, 89191910.4)
('OH', 'GRAY', 4381, 7499.0, 50000.0, 120013773.75, 27394.15, 9511.16, 90462168.65)
('OH', 'RED', 3423, 8317.0, 50000.0, 98645768.75, 28818.51, 9796.89, 95979039.82)
('OH', 'SILVER', 4421, 6750.0, 49995.0, 119724560.25, 27080.88, 9368.17, 87762563.61)
('OH', 'WHITE', 5905, 7981.0, 50000.0, 168367992.0, 28512.78, 9567.21, 91531519.97)
('PA', 'BLACK', 5370, 8900.0, 50000.0, 155791257.0, 29011.41, 9306.39, 86608933.88)
('PA', 'BLUE', 2925, 8648.0, 49995.0, 81907783.0, 28002.66, 9107.33, 82943439.31)
('PA', 'GRAY', 3655, 7999.0, 49999.0, 102250898.0, 27975.62, 8685.95, 75445657.26)
('PA', 'RED', 2522, 8990.0, 49999.0, 70098859.0, 27794.95, 9125.02, 83265934.38)
('PA', 'SILVER', 3384, 8395.0, 49998.0, 92383956.0, 27300.22, 8864.77, 78584166.56)
('PA', 'WHITE', 5003, 6944.0, 50000.0, 143497725.0, 28682.34, 9186.79, 84397143.89)
('TX', 'BLACK', 14978, 8552.0, 50000.0, 440262410.8, 29393.94, 10012.3, 100246100.09)
('TX', 'BLUE', 6202, 6000.0, 50000.0, 173259571.0, 27936.08, 9442.76, 89165717.48)
('TX', 'GRAY', 10405, 7882.0, 50000.0, 293782096.0, 28234.7, 9662.59, 93365580.11)
('TX', 'RED', 6107, 7299.0, 49999.0, 180297585.75, 29523.1, 9932.69, 98658246.87)
('TX', 'SILVER', 10052, 7988.0, 49997.0, 282157969.0, 28069.83, 9874.13, 97498435.98)
('TX', 'WHITE', 15880, 5999.0, 50000.0, 476268504.0, 29991.72, 9802.31, 96085317.97)

Test Set: Price of Different Colored Vehicles Per State
['State', 'listing_color', 'total_count', 'price_min', 'price_max', 'price_sum', 'price_avg', 'price_stdev', 'price_variance']
('CA', 'BLACK', 2655, 9589.0, 49999.0, 77288324.0, 29110.48, 9709.41, 94272693.8)
('CA', 'BLUE', 1059, 7593.0, 49999.0, 28495355.0, 26907.8, 9159.84, 83902608.11)
('CA', 'GRAY', 2472, 7371.0, 49998.0, 70041381.0, 28333.89, 9324.4, 86944361.62)
('CA', 'RED', 765, 8500.0, 49999.0, 20776492.0, 27158.81, 8770.93, 76929191.57)
('CA', 'SILVER', 1890, 8595.0, 49991.0, 50742777.0, 26848.03, 9079.87, 82443981.7)
('CA', 'WHITE', 3121, 8449.0, 49998.0, 90918574.0, 29131.23, 9737.6, 94820937.65)
('FL', 'BLACK', 2514, 6995.0, 50000.0, 72100449.75, 28679.57, 10175.91, 103549242.02)
('FL', 'BLUE', 1260, 6999.0, 49966.0, 33879733.0, 26888.68, 9646.96, 93063911.44)
('FL', 'GRAY', 1846, 7999.0, 49991.0, 50002360.85, 27086.87, 9570.48, 91594129.87)
('FL', 'RED', 1163, 8488.0, 49897.0, 31261356.0, 26879.93, 9198.83, 84618485.83)
('FL', 'SILVER', 1877, 6734.0, 50000.0, 49676809.25, 26466.07, 9493.3, 90122749.93)
('FL', 'WHITE', 3031, 4490.0, 49999.0, 86295930.25, 28471.11, 9695.61, 94004913.03)
('IL', 'BLACK', 1727, 10482.0, 49991.0, 49554484.0, 28693.97, 9443.35, 89176816.74)
('IL', 'BLUE', 714, 8994.0, 49994.0, 19032558.0, 26656.24, 8960.36, 80288001.48)
('IL', 'GRAY', 1078, 9877.0, 49935.0, 29813870.0, 27656.65, 9348.28, 87390351.81)
('IL', 'RED', 706, 8462.0, 49927.0, 20148763.0, 28539.32, 9564.76, 91484641.51)
('IL', 'SILVER', 916, 9695.0, 49936.0, 24435356.0, 26676.15, 9049.54, 81894174.1)
('IL', 'WHITE', 1554, 8992.0, 49999.0, 44503424.0, 28637.98, 9337.06, 87180774.08)
('NY', 'BLACK', 1511, 9523.0, 49999.0, 44223517.0, 29267.71, 9269.33, 85920429.93)
('NY', 'BLUE', 693, 9995.0, 49996.0, 19161794.0, 27650.5, 9216.17, 84937712.09)
('NY', 'GRAY', 1090, 9998.0, 49995.0, 30580668.0, 28055.66, 8944.89, 80011038.99)
('NY', 'RED', 469, 10950.0, 49995.0, 12780310.0, 27250.13, 9026.57, 81478959.06)
('NY', 'SILVER', 829, 9500.0, 49800.0, 22949871.0, 27683.8, 8770.75, 76925993.31)
('NY', 'WHITE', 1224, 11675.0, 49997.0, 35782179.44, 29233.81, 9473.71, 89751093.28)
('OH', 'BLACK', 1846, 9900.0, 50000.0, 53905493.5, 29201.24, 9672.6, 93559190.02)
('OH', 'BLUE', 847, 8760.0, 49753.0, 23216678.0, 27410.48, 9472.48, 89727951.14)
('OH', 'GRAY', 1118, 7900.0, 49935.0, 29879542.5, 26725.89, 9447.71, 89259222.32)
('OH', 'RED', 805, 9900.0, 49692.0, 22647932.0, 28134.08, 9647.4, 93072330.45)
('OH', 'SILVER', 1038, 8950.0, 49865.0, 28220848.0, 27187.71, 9549.19, 91187054.39)
('OH', 'WHITE', 1482, 8500.0, 50000.0, 41653965.25, 28106.59, 9265.38, 85847337.33)
('PA', 'BLACK', 1340, 10000.0, 49967.0, 38983311.0, 29092.02, 9096.5, 82746270.04)
('PA', 'BLUE', 765, 10600.0, 49998.0, 21493170.0, 28095.65, 8796.9, 77385380.79)
('PA', 'GRAY', 905, 7988.0, 49995.0, 25443884.0, 28114.79, 8891.68, 79062036.39)
('PA', 'RED', 596, 8673.0, 49960.0, 16737220.0, 28082.58, 8941.45, 79949581.82)
('PA', 'SILVER', 870, 8488.0, 49987.0, 23818281.0, 27377.33, 8896.94, 79155518.73)
('PA', 'WHITE', 1290, 9685.0, 49980.0, 37018832.0, 28696.77, 9224.41, 85089652.81)
('TX', 'BLACK', 3830, 6205.0, 49998.0, 113190943.0, 29553.77, 10054.54, 101093814.26)
('TX', 'BLUE', 1551, 6649.0, 50000.0, 43376781.0, 27966.98, 9544.71, 91101511.41)
('TX', 'GRAY', 2637, 7998.0, 50000.0, 74492907.0, 28249.11, 9657.55, 93268354.36)
('TX', 'RED', 1620, 8250.0, 49995.0, 47735713.0, 29466.49, 9922.33, 98452651.46)
('TX', 'SILVER', 2648, 7950.0, 49996.0, 72846287.0, 27509.93, 9759.82, 95254178.29)
('TX', 'WHITE', 4095, 7991.0, 49999.0, 123298945.0, 30109.63, 9737.01, 94809349.73)

- Number of Days on Market of Different Colored Vehicles Per State

In [9]:
# Train set
try:
    conn = sqlite3.connect('usedcars.db')
    cur = conn.cursor()
    cur.execute('''SELECT State, listing_color, SUM(daysonmarket) AS daysonmarket_sum, ROUND(AVG(daysonmarket), 2) AS daysonmarket_avg, 
    min(daysonmarket) AS daysonmarket_min, MAX(daysonmarket) AS daysonmarket_max FROM TRAIN_SET GROUP BY State, listing_color''')
    records = cur.fetchall()
    print('\nTrain Set:  Number of Days on Market of Different Colored Vehicles Per State')
    headers = [i[0] for i in cur.description]
    print(headers)
    for row in records:
        print(row)
except sqlite3.Error as error:
        print('Failed to execute the above query', error)

# Test set
try:
    conn = sqlite3.connect('usedcars.db')
    cur = conn.cursor()
    cur.execute('''SELECT State, listing_color, SUM(daysonmarket) AS daysonmarket_sum, ROUND(AVG(daysonmarket), 2) AS daysonmarket_avg, 
    min(daysonmarket) AS daysonmarket_min, MAX(daysonmarket) AS daysonmarket_max FROM TEST_SET GROUP BY State, listing_color''')
    records = cur.fetchall()
    print('\nTest Set: Number of Days on Market of Different Colored Vehicles Per State')
    headers = [i[0] for i in cur.description]
    print(headers)
    for row in records:
        print(row)
except sqlite3.Error as error:
        print('Failed to execute the above query', error)
finally:
        if conn:
            conn.close()

Train Set:  Number of Days on Market of Different Colored Vehicles Per State
['State', 'listing_color', 'daysonmarket_sum', 'daysonmarket_avg', 'daysonmarket_min', 'daysonmarket_max']
('CA', 'BLACK', 355517.0, 33.74, 0.0, 108.0)
('CA', 'BLUE', 135880.0, 32.97, 0.0, 103.0)
('CA', 'GRAY', 328177.0, 32.55, 0.0, 105.0)
('CA', 'RED', 102708.0, 33.99, 0.0, 103.0)
('CA', 'SILVER', 261163.0, 33.92, 0.0, 103.0)
('CA', 'WHITE', 395693.0, 31.13, 0.0, 103.0)
('FL', 'BLACK', 322518.0, 31.42, 0.0, 101.0)
('FL', 'BLUE', 153394.0, 30.78, 0.0, 101.0)
('FL', 'GRAY', 248400.0, 31.08, 0.0, 104.0)
('FL', 'RED', 157494.0, 33.32, 0.0, 102.0)
('FL', 'SILVER', 244203.0, 32.99, 0.0, 102.0)
('FL', 'WHITE', 375329.0, 31.24, 0.0, 101.0)
('IL', 'BLACK', 245676.0, 35.21, 0.0, 102.0)
('IL', 'BLUE', 100635.0, 35.69, 0.0, 101.0)
('IL', 'GRAY', 152881.0, 34.79, 0.0, 101.0)
('IL', 'RED', 103285.0, 37.14, 0.0, 102.0)
('IL', 'SILVER', 147546.0, 37.49, 0.0, 102.0)
('IL', 'WHITE', 202377.0, 35.1, 0.0, 101.0)
('NY', 'BLACK', 201578.0, 32.77, 0.0, 105.0)
('NY', 'BLUE', 83974.0, 30.82, 0.0, 101.0)
('NY', 'GRAY', 120472.0, 30.3, 0.0, 101.0)
('NY', 'RED', 66858.0, 33.75, 0.0, 100.0)
('NY', 'SILVER', 104409.0, 32.38, 0.0, 101.0)
('NY', 'WHITE', 152594.0, 30.43, 0.0, 99.0)
('OH', 'BLACK', 246015.0, 33.18, 0.0, 102.0)
('OH', 'BLUE', 107498.0, 32.06, 0.0, 101.0)
('OH', 'GRAY', 137690.0, 31.43, 0.0, 101.0)
('OH', 'RED', 116670.0, 34.08, 0.0, 100.0)
('OH', 'SILVER', 149423.0, 33.8, 0.0, 102.0)
('OH', 'WHITE', 195289.0, 33.07, 0.0, 103.0)
('PA', 'BLACK', 176121.0, 32.8, 0.0, 101.0)
('PA', 'BLUE', 92191.0, 31.52, 0.0, 101.0)
('PA', 'GRAY', 108854.0, 29.78, 0.0, 101.0)
('PA', 'RED', 85722.0, 33.99, 0.0, 101.0)
('PA', 'SILVER', 111967.0, 33.09, 0.0, 101.0)
('PA', 'WHITE', 161520.0, 32.28, 0.0, 101.0)
('TX', 'BLACK', 514747.0, 34.37, 0.0, 103.0)
('TX', 'BLUE', 204237.0, 32.93, 0.0, 102.0)
('TX', 'GRAY', 344942.0, 33.15, 0.0, 103.0)
('TX', 'RED', 211305.0, 34.6, 0.0, 103.0)
('TX', 'SILVER', 361069.0, 35.92, 0.0, 102.0)
('TX', 'WHITE', 529765.0, 33.36, 0.0, 103.0)

Test Set: Number of Days on Market of Different Colored Vehicles Per State
['State', 'listing_color', 'daysonmarket_sum', 'daysonmarket_avg', 'daysonmarket_min', 'daysonmarket_max']
('CA', 'BLACK', 89240.0, 33.61, 0.0, 101.0)
('CA', 'BLUE', 35684.0, 33.7, 0.0, 102.0)
('CA', 'GRAY', 80953.0, 32.75, 0.0, 103.0)
('CA', 'RED', 25278.0, 33.04, 0.0, 101.0)
('CA', 'SILVER', 64944.0, 34.36, 0.0, 103.0)
('CA', 'WHITE', 95527.0, 30.61, 0.0, 103.0)
('FL', 'BLACK', 79371.0, 31.57, 0.0, 100.0)
('FL', 'BLUE', 39298.0, 31.19, 0.0, 100.0)
('FL', 'GRAY', 55335.0, 29.98, 0.0, 104.0)
('FL', 'RED', 40496.0, 34.82, 0.0, 102.0)
('FL', 'SILVER', 60358.0, 32.16, 0.0, 100.0)
('FL', 'WHITE', 95315.0, 31.45, 0.0, 100.0)
('IL', 'BLACK', 62900.0, 36.42, 0.0, 101.0)
('IL', 'BLUE', 26034.0, 36.46, 0.0, 99.0)
('IL', 'GRAY', 35871.0, 33.28, 0.0, 100.0)
('IL', 'RED', 26431.0, 37.44, 0.0, 101.0)
('IL', 'SILVER', 33207.0, 36.25, 0.0, 100.0)
('IL', 'WHITE', 54143.0, 34.84, 0.0, 102.0)
('NY', 'BLACK', 49323.0, 32.64, 0.0, 101.0)
('NY', 'BLUE', 21056.0, 30.38, 0.0, 99.0)
('NY', 'GRAY', 32710.0, 30.01, 0.0, 101.0)
('NY', 'RED', 16658.0, 35.52, 0.0, 105.0)
('NY', 'SILVER', 28597.0, 34.5, 0.0, 101.0)
('NY', 'WHITE', 38138.0, 31.16, 0.0, 99.0)
('OH', 'BLACK', 59805.0, 32.4, 0.0, 100.0)
('OH', 'BLUE', 28241.0, 33.34, 0.0, 100.0)
('OH', 'GRAY', 34768.0, 31.1, 0.0, 100.0)
('OH', 'RED', 27544.0, 34.22, 0.0, 100.0)
('OH', 'SILVER', 35925.0, 34.61, 0.0, 100.0)
('OH', 'WHITE', 48439.0, 32.68, 0.0, 100.0)
('PA', 'BLACK', 45325.0, 33.82, 0.0, 101.0)
('PA', 'BLUE', 23616.0, 30.87, 0.0, 97.0)
('PA', 'GRAY', 28118.0, 31.07, 0.0, 100.0)
('PA', 'RED', 20063.0, 33.66, 0.0, 99.0)
('PA', 'SILVER', 28923.0, 33.24, 0.0, 99.0)
('PA', 'WHITE', 41602.0, 32.25, 0.0, 101.0)
('TX', 'BLACK', 131113.0, 34.23, 0.0, 102.0)
('TX', 'BLUE', 51731.0, 33.35, 0.0, 101.0)
('TX', 'GRAY', 86808.0, 32.92, 0.0, 103.0)
('TX', 'RED', 56180.0, 34.68, 0.0, 101.0)
('TX', 'SILVER', 94540.0, 35.7, 0.0, 104.0)
('TX', 'WHITE', 133368.0, 32.57, 0.0, 102.0)